.letter {
	position: relative;
	float:left;
	width:150px;
	height:100px;
	margin-top: 100px;
	margin-left: 100px;
}
.letter div {
	position: absolute;
}
.rightstem {
	width: 2px;
	height: 100px;
	background: black;
	transform: rotate(5deg);
	margin-top: -2px;
	margin-left: -1px;
}
.rightstem2 {
	width: 2px;
	height: 100px;
	background: black;
	transform: rotate(5deg); 
	margin-left: 10px;
}
.curve {
	width:30px; height:100px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/30px 18px 0 0;
	transform: rotate(52deg);
	margin-left: -56px; 
	margin-top: -33px;
}
.tophorizontalline {
	width: 2px;
	height: 80px;
	background: black;
	transform: rotate(90deg);
	margin-top: -65px;
	margin-left: 30px;
}
.virticalline {
	width: 2px;
	height: 10px;
	background:black;
	margin-top: -26px;
	margin-left:-10px;
}
.rightdecender {
	width: 2px;
	height: 240px;
	background: black;
	transform: rotate(165deg);
	margin-left: 45px;
	margin-top: -7px;
}
.curvebottom {
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/20px 30px 0 0;
	transform: rotate(140deg);
	margin-top: -108px;
	margin-left: -104px;
}
.curvebottomreverse {
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/24px 45px 0 0;
	transform: rotate(220deg);
	margin-top: -108px;
	margin-left: 70px;
}
.vline2{
	width: 2px;
	height: 10px;
	background:black;
	margin-top: 108px;
	margin-left:-21px;
}
.vline3{
	width: 2px;
	height: 10px;
	background:black;
	margin-top: 108px;
	margin-left:20px;
}
.linebottomr {
	width: 2px;
	height: 43px;
	background: black;
	transform: rotate(90deg);
	margin-top: 97px;
	margin-left: -1px;
}
.leftdecender{
	width: 2px;
	height: 240px;
	background: black;
	transform: rotate(190deg);
	margin-left: 97px;
	margin-top: -10px;
}
.topdesender {
	width: 2px;
	height: 90px;
	background: black;
	transform: rotate(350deg);
	margin-top: -26px;
	margin-left: 77px;
}
.topdesenderrev {
	width: 2px;
	height: 90px;
	background: black;
	transform: rotate(190deg);
	margin-top: -26px;
	margin-left: 93px;
}
.topline {
	width: 2px;
	height: 80px;
	background: black;
	transform: rotate(90deg);
	margin-top: -65px;
	margin-left: 140px;
}
.downdesender {
	width: 2px;
	height: 100px;
	background: black;
	transform: rotate(355deg);
	margin-top: -10px; 
	margin-left: 122px;
}
.curvebottom2 {
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/ 30px 20px 0 0;
	transform: rotate(140deg);
	margin-top: -115px;
	margin-left: 29px;
}
.curvebottomreverse2 {
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/30px 30px 0 0;
	transform: rotate(220deg);
	margin-top: -115px;
	margin-left: 239px;
}
.lineright {
	width: 2px;
	height: 80px;
	background: black;
	transform: rotate(90deg);
	margin-top: 75px;
	margin-left: 151px;
}
.lineright2 {
	width: 2px;
	height: 14px;
	background:black;
	margin-top: 102px;
	margin-left:110px;
}
.rightdesenderrev {
	width: 2px;
	height: 95px;
	background: black;
	transform: rotate(175deg);
	margin-top: 0px;
	margin-left: 170px;
}
.curvetopeverse {
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/24px 50px 0 0;
	transform: rotate(310deg);
	margin-top: -55px;
	margin-left: 245px;
}
.linerighttop {
	width: 2px;
	height: 14px;
	background: black;
	margin-top: -26px;
	margin-left: 180px;
}
.linerightbottom {
	width: 2px;
	height: 14px;
	background: black;
	margin-top: 100px;
	margin-left: 190px;
}



.n{
	left: 10px;
}

.leftstem {
	width: 2px;
	height: 110px;
	background: black;
	margin-top: -10px;
}
.leftstem2 {
	width: 2px;
	height: 110px;
	background: black;
	margin-top: -10px;
	margin-left: 12px;
}
.lowcurven {
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/20px 40px 0 0;
	transform: rotate(35deg);
	margin-top: -39px;
	margin-left: -89px;
}
.topleftlinen {
	width: 3px;
	height: 180px;
	background: black;
	transform: rotate(90deg);
	margin-top: -358px;
	margin-left: 68px;
}
.virticalleftlinen {
	width: 2px;
	height: 10px;
	background:black;
	margin-top: -27px;
	margin-left:-15px;
}
.bottomcurven {
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/20px 40px 0 0;
	transform: rotate(130deg);
	margin-top: -90px;
	margin-left: -112px;
}
.virticalbottomleftlinen {
	width: 2px;
	height: 10px;
	background:black;
	margin-top: 111px;
	margin-left:-15px;
}
.bottomlinen {
	width: 2px;
	height: 44px;
	background:black;
	margin-top: 100px;
	margin-left:6px;
	transform: rotate(90deg);
}
.virticalleftbottomlinen {
	width: 2px;
	height: 13px;
	background:black;
	margin-top: 110px;
	margin-left:28px;
}
.bottomcurvenreverse {
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/20px 40px 0 0;
	transform: rotate(215deg);
	margin-top: -112px;
	margin-left: 69px;
}
.lefttiltn {
	width: 2px;
	height: 249px;
	background: black;
	margin-left: 64px;
	margin-top: -22px;
	transform: rotate(155deg);
}
.lefttiltn2 {
	width: 2px;
	height: 153px;
	background: black;
	margin-left: 91px;
	margin-top: -35px;
	transform: rotate(155deg);
}
.rightstemn {
	width: 2px;
	height: 120px;
	background: black;
	margin-left: 123px;
	margin-top: -10px;
}
.rightstemn2 {
	width: 2px;
	height:226px;
	background: black;
	margin-left: 145px;
	margin-top: -10px;
}
.curverightnreverse {
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/25px 35px 0 0;
	transform: rotate(40deg);
	margin-top: -44px;
	margin-left: 26px;
}
.curverightn {
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/15px 45px 0 0;
	transform: rotate(300deg);
	margin-top: -75px;
	margin-left: 236px;
}
.toplinerightn {
	width: 2px;
	height: 75px;
	background:black;
	margin-top: -65px;
	margin-left: 22px;
	transform: rotate(90deg);
}
.virticalrightlinen {
	width: 2px;
	height: 10px;
	background:black;
	margin-top: -26px;
	margin-left:108px;
}
.virticalrightlinen2 {
	width: 2px;
	height: 10px;
	background:black;
	margin-top: -26px;
	margin-left:158px;
}
.toplinerightn2 {
	width: 2px;
	height: 50px;
	background:black;
	margin-top: -50px;
	margin-left: 134px;
	transform: rotate(90deg);
}
.bottomlinerightn {
	width: 2px;
	height: 30px;
	background:black;
	margin-top: 200px;
	margin-left: 130px;
	transform: rotate(90deg);
}



.u{
	left: -10px;
}
.stemleftu{
	width: 2px;
	height: 180px;
	background: black;
}
.bowlu {
	width: 100px;
    height: 50px; /* as the half of the width */
    margin-top: 175px;
    border-top-left-radius: 110px;  /* 100px of height + 10px of border */
    border-top-right-radius: 110px; /* 100px of height + 10px of border */
    border: 2px solid black;
    border-bottom: 0;
    transform: rotate(180deg);
}
.stemleftu2{
	width: 2px;
	height: 170px;
	background: black;
	margin-left: 65px;
	margin-top: 5px;
}
.bowlu2 {
	width: 35px;
    height: 17.5px; /* as the half of the width*/
    margin-top: 172px;
    margin-left: 65px;
    border-top-left-radius: 110px;  /* 100px of height + 10px of border */
    border-top-right-radius: 110px; /* 100px of height + 10px of border */
    border: 2px solid black;
    border-bottom: 0;
    transform: rotate(180deg);
}
.stemrightu{
	width: 2px;
	height: 165px;
	background: black;
	margin-left: 102px;
	margin-top: 7px;
}
.stemrightu2{
	width: 2px;
	height: 80px;
	background: black;
	margin-left: 160px;
	margin-top: 9px;
}
.curverightu{
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/15px 45px 0 0;
	transform: rotate(40deg);
	margin-top: -35px;
	margin-left: -96px;
}
.curverightu2{
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/15px 45px 0 0;
	transform: rotate(300deg);
	margin-top: -65px;
	margin-left: 156px;
}
.curverightreverseu{
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/15px 45px 0 0;
	transform: rotate(300deg);
	margin-top: -63px;
	margin-left: 251px;
}
.curveleftu{
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/20px 40px 0 0;
	transform: rotate(35deg);
	margin-top: -27px;
	margin-left: 13px;
}
.curveleftreverseu{
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/25px 40px 0 0;
	transform: rotate(215deg);
	margin-top: -124px;
	margin-left: 217px;
}
.bottomlineu {
	width: 2px;
	height: 75px;
	background:black;
	margin-top: 70px;
	margin-left:139px;
	transform: rotate(90deg);
}
.virticallineu {
	width: 2px;
	height: 11px;
	background:black;
	margin-top: 97px;
	margin-left:176px;
}
.virticallinetoprightu {
	width: 2px;
	height: 11px;
	background:black;
	margin-top: -18px;
	margin-left:78px;
}
.virticallinetoprightu2 {
	width: 2px;
	height: 10px;
	background:black;
	margin-top: -19px;
	margin-left:-15px;
}
.virticallinetopleftu {
	width: 2px;
	height: 12px;
	background:black;
	margin-top: -18px;
	margin-left: 87px;
}
.virticallinetopleftu2 {
	width: 2px;
	height: 12px;
	background:black;
	margin-top: -18px;
	margin-left: 172px;
}
.toplineu {
	width: 2px;
	height: 94px;
	background:black;
	margin-top: -66px;
	margin-left:32px;
	transform: rotate(90deg);
}
.toplineu2 {
	width: 2px;
	height: 87px;
	background:black;
	margin-top: -62px;
	margin-left:130px;
	transform: rotate(90deg);
}




.v{
	left: 10px;
}
.toplinev {
	width: 2px;
	height: 90px;
	background:black;
	margin-top: -70px;
	transform: rotate(90deg);
}
.virticallinetopleftv {
	width: 2px;
	height: 15px;
	background:black;
	margin-top: -25px;
	margin-left: -45px;
}
.virticallinetopleftv2 {
	width: 2px;
	height: 15px;
	background:black;
	margin-top: -25px;
	margin-left: 45px;
}
.curvetopv{
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/50px 60px 0 0;
	transform: rotate(300deg);
	margin-top: -69px;
	margin-left: 123px;
}
.curvetopv2{
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/60px 0px 0 0;
	transform: rotate(60deg);
	margin-top: -69px;
	margin-left: -155px;
}
.stemv {
	width: 2px;
	height: 250px;
	background:black;
	margin-top: -12px;
	margin-left: 35px;
	transform: rotate(150deg);
}
.stemv2 {
	width: 2px;
	height: 160px;
	background:black;
	margin-top: -9px;
	margin-left: 75px;
	transform: rotate(150deg);
}
.stemvreverse {
	width: 2px;
	height: 90px;
	background:black;
	margin-top: 55px;
	margin-left: 133px;
	transform: rotate(25deg);
}
.stemvreverse2 {
	width: 2px;
	height: 175px;
	background:black;
	margin-top: 55px;
	margin-left: 134px;
	transform: rotate(25deg);
}
.curvetoprightv{
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/90px 40px 0 0;
	transform: rotate(60deg);
	margin-top: -10px;
	margin-left: 31px;
}
.curvetoprightv2{
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/10px 40px 0 0;
	transform: rotate(310deg);
	margin-top: 10px;
	margin-left: 252px;
}
.virticallinetoprightv {
	width: 2px;
	height: 14px;
	background:black;
	margin-top: 36px;
	margin-left:141px;
}
.virticallinetoprightv2 {
	width: 2px;
	height: 15px;
	background:black;
	margin-top: 37px;
	margin-left: 185px;
}
.toplinerightv {
	width: 2px;
	height: 46px;
	background:black;
	margin-top: 14px;
	margin-left:163px;
	transform: rotate(90deg);
}



.a{
	left: 20px;
	top: 100px;
	transform: rotate(180deg);
}
.bottomlinea {
	width: 2px;
	height: 101px;
	background:black;
	margin-top: -16px;
	margin-left: -5.5px;
	transform: rotate(90deg);
}
.bottomlinea2 {
	width: 2px;
	height: 75px;
	background:black;
	margin-top: 51px;
	margin-left: 83px;
	transform: rotate(90deg);
}
.virticallinebottomlefta {
	width: 2px;
	height: 15px;
	background:black;
	margin-top: 35px;
	margin-left: -55px;
}
.virticallinebottomlefta2 {
	width: 2px;
	height: 15px;
	background:black;
	margin-top: 35px;
	margin-left: 44px;
}
.curvetopa{
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/50px 60px 0 0;
	transform: rotate(300deg);
	margin-top: -9px;
	margin-left: 123px;
}
.curvetopa2{
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/60px 0px 0 0;
	transform: rotate(63deg);
	margin-top: -15px;
	margin-left: -169px;
}

.stema {
	width: 2px;
	height: 180px;
	background:black;
	margin-top: 55px;
	margin-left: -10px;
	transform: rotate(160deg);
}
.stema2 {
	width: 2px;
	height: 30px;
	background:black;
	margin-top: 60px;
	margin-left: 40px;
	transform: rotate(160deg);
}
.stemareverse {
	width: 2px;
	height: 140px;
	background:black;
	margin-top: -45px;
	margin-left: 150px;
	transform: rotate(25deg);
}
.stemareverse2 {
	width: 2px;
	height: 290px;
	background:black;
	margin-top: -45px;
	margin-left: 143px;
	transform: rotate(25deg);
}
.curvetoprighta{
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/90px 40px 0 0;
	transform: rotate(60deg);
	margin-top: -30px;
	margin-left: 31px;
}
.curvetoprighta2{
	width:30px; height:240px;  
  	border:solid 2px #000;
 	border-color:#000 transparent transparent transparent;
  	border-radius: 50%/10px 40px 0 0;
	transform: rotate(310deg);
	margin-top: 10px;
	margin-left: 252px;
}
.trianglea {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 60px solid black;
  transform: rotate(180deg);
  margin-top: 110px;
  margin-left: 55px;
}
.toplinea {
	width: 2px;
	height: 63px;
	background:black;
	margin-top: 199px;
	margin-left:51px;
	transform: rotate(90deg);
}
.virticallinetoprighta {
	width: 2px;
	height: 14px;
	background:black;
	margin-top: 30px;
	margin-left:141px;
}
.virticallinetoprighta2 {
	width: 2px;
	height: 15px;
	background:black;
	margin-top: 37px;
	margin-left: 185px;
}
.toplinerighta {
	width: 2px;
	height: 46px;
	background:black;
	margin-top: 14px;
	margin-left:163px;
	transform: rotate(90deg);
}