body {
  transition:background 200ms ease;
  font-size:2vw;
  font-family:Menlo, monospace;
  background: #e3c4a8;
}

.begpointleft{
  background: url(resize/pointer-01.png);
  position: absolute;
  background-size: 200px;
  width: 200px;
  height: 200px;
  left: -5px;
  top: calc(70vh - 100px);
}

.begpointright{
  background: url(resize/pointer-02.png);
  position: absolute;
  background-size: 200px;
  width: 200px;
  height: 200px;
  right: -5px;
  top: 200px;
}

@media only screen and (max-height: 700px){
  body{
    background: #4592af;
  }
}

@media only screen and (max-width: 500px) and (max-height: 432px) and (min-height: 432px){
  body{
    background: #4592af;
  }
  .rightpointright{
    background: url(resize/pointer-04.png);
    position: absolute;
    background-size: 200px;
    width: 200px;
    height: 200px;
    right: -10px;
    top: 211px;
    z-index: 3;
  }

  .rightpointleft{
    background: url(resize/pointer-03.png);
    position: absolute;
    background-size: 200px;
    width: 200px;
    height: 200px;
    left: -6px;
    top: 212px;
    z-index: 3;
  }
}

@media only screen and (max-width: 450px) and (max-height: 1000px) and (min-height: 500px){
  body {
    padding:10vw;
    background:red;
  }

  .wrongpointleft{
    background: url(resize/pointer-05.png);
    position: absolute;
    background-size: 200px;
    width: 200px;
    height: 200px;
    left: -5px;
    top: 547px;
  }
  .wrongpointright{
    background: url(resize/pointer-06.png);
    position: absolute;
    background-size: 200px;
    width: 200px;
    height: 200px;
    right: -9px;
    top: 209px;
  }

}
