body{
		margin: 0px;
		background-color: black;
		position: absolute;
	}

.letter {
	position: relative;
	float:left;
	width:200px;
	height:250px;
	margin-top: 100px;
	margin-left: 100px;
  transform: scale(0.9);
}
.letter div {
	position: absolute;
}


.text-flicker-in-glow {
	-webkit-animation: text-flicker-in-glow 4s linear both;
	        animation: text-flicker-in-glow 4s linear both;
}
@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 1;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 80px rgba(256, 256, 256, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}


/* div {
 transition: all 50ms ease-out;
}
div:hover{
  background: red
} */

.f{
	background: url(photo/f.png);
	background-size: 300px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(18vw - 100px);
  top: calc(43vh - 100px);
}

.a{
	background: url(photo/a.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(34vw - 100px);
  top: calc(43vh - 100px);
	cursor: pointer;
}
#a:hover{
	background: url(photo/a.gif);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(34vw - 100px);
	top: calc(43vh - 100px);
}
.n{
	background: url(photo/n.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(55vw - 100px);
  top: calc(43vh - 100px);
}

.g{
	background: url(photo/g.png);
	background-size: 322px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(72vw - 100px);
  top: calc(43vh - 100px);
}

.main{
	width: 1351px;
	height: 2000px;
	top: 1000px;
	margin: 100px auto;
	position: relative;
}

.a2{
	background: url(photo/a.png);
	background-size: 300px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(10vw - 100px);
  top: calc(44vh - 100px);
	cursor: pointer;
}
#a2:hover{
	background: url(photo/a.gif);
	background-size: 300px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(10vw - 100px);
	top: calc(44vh - 100px);
}

.b{
	background: url(photo/b.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(28vw - 100px);
  top: calc(42vh - 100px);
	cursor: pointer;
}
#b:hover{
	background: url(photo/b.gif);
	background-size: 281px;
	width: 300px;
	height: 281px;
	position: absolute;
	left: calc(29vw - 100px);
	top: calc(43vh - 100px);
}

.c{
	background: url(photo/c.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(42vw - 100px);
  top: calc(42vh - 100px);
	cursor: pointer;
}
#c:hover{
	background: url(photo/c.gif);
	background-size: 311px;
	width: 300px;
	height: 281px;
	position: absolute;
	left: calc(42vw - 100px);
	top: calc(43vh - 100px);
}

.d{
	background: url(photo/d.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(58vw - 100px);
  top: calc(42vh - 100px);
	cursor: pointer;
}
#d:hover{
	background: url(photo/d.gif);
	background-size: 311px;
	width: 300px;
	height: 281px;
	position: absolute;
	left: calc(58vw - 100px);
	top: calc(43vh - 100px);
}

.e{
	background: url(photo/e.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(71vw - 100px);
  top: calc(42vh - 100px);
	cursor: pointer;
}
#e:hover{
	background: url(photo/e.gif);
	background-size: 311px;
	width: 300px;
	height: 281px;
	position: absolute;
	left: calc(71vw - 100px);
	top: calc(43vh - 100px);
}

.f2{
	background: url(photo/f.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(86vw - 100px);
  top: calc(42vh - 100px);
	cursor: pointer;
}
#f2:hover{
	background: url(photo/f.gif);
	background-size: 311px;
	width: 300px;
	height: 281px;
	position: absolute;
	left: calc(86vw - 100px);
	top: calc(43vh - 100px);
}

.g2{
	background: url(photo/g.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(8vw - 100px);
  top: calc(79vh - 100px);
	cursor: pointer;
}
#g2:hover{
	background: url(photo/g.gif);
	background-size: 311px;
	width: 300px;
	height: 281px;
	position: absolute;
	left: calc(8vw - 100px);
	top: calc(79vh - 100px);
}

.h{
	background: url(photo/h.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(28vw - 100px);
  top: calc(78vh - 100px);
	cursor: pointer;
}
#h:hover{
	background: url(photo/h.gif);
	background-size: 311px;
	width: 300px;
	height: 281px;
	position: absolute;
	left: calc(28vw - 100px);
	top: calc(78vh - 100px);
}

.i{
	background: url(photo/i.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(42vw - 100px);
  top: calc(79vh - 100px);
	cursor: pointer;
}
#i:hover{
	background: url(photo/i.gif);
	background-size: 311px;
	width: 300px;
	height: 281px;
	position: absolute;
	left: calc(42vw - 100px);
	top: calc(79vh - 100px);
}

.j{
	background: url(photo/j.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(56vw - 100px);
  top: calc(78vh - 100px);
	cursor: pointer;
}
#j:hover{
	background: url(photo/j.gif);
	background-size: 311px;
	width: 300px;
	height: 281px;
	position: absolute;
	left: calc(56vw - 100px);
	top: calc(78vh - 100px);
}

.k{
	background: url(photo/k.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(28vw - 100px);
  top: calc(42vh - 100px);
	cursor: pointer;
}
#k:hover{
	background: url(photo/k.gif);
	background-size: 311px;
	width: 300px;
	height: 281px;
	position: absolute;
	left: calc(29vw - 100px);
	top: calc(43vh - 100px);
}

.l{
	background: url(photo/l.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(28vw - 100px);
  top: calc(42vh - 100px);
	cursor: pointer;
}
#l:hover{
	background: url(photo/l.gif);
	background-size: 311px;
	width: 300px;
	height: 281px;
	position: absolute;
	left: calc(29vw - 100px);
	top: calc(43vh - 100px);
}

.m{
	background: url(photo/m.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(28vw - 100px);
  top: calc(42vh - 100px);
	cursor: pointer;
}
#m:hover{
	background: url(photo/m.gif);
	background-size: 311px;
	width: 300px;
	height: 281px;
	position: absolute;
	left: calc(29vw - 100px);
	top: calc(43vh - 100px);
}

.n2{
	background: url(photo/n.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(28vw - 100px);
  top: calc(42vh - 100px);
	cursor: pointer;
}
#n2:hover{
	background: url(photo/n.gif);
	background-size: 311px;
	width: 300px;
	height: 281px;
	position: absolute;
	left: calc(29vw - 100px);
	top: calc(43vh - 100px);
}

.o{
	background: url(photo/o.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(28vw - 100px);
  top: calc(42vh - 100px);
	cursor: pointer;
}
#p:hover{
	background: url(photo/p.gif);
	background-size: 311px;
	width: 300px;
	height: 281px;
	position: absolute;
	left: calc(29vw - 100px);
	top: calc(43vh - 100px);
}

.q{
	background: url(photo/q.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(28vw - 100px);
  top: calc(42vh - 100px);
	cursor: pointer;
}
#q:hover{
	background: url(photo/q.gif);
	background-size: 311px;
	width: 300px;
	height: 281px;
	position: absolute;
	left: calc(29vw - 100px);
	top: calc(43vh - 100px);
}

.r{
	background: url(photo/r.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(28vw - 100px);
  top: calc(42vh - 100px);
	cursor: pointer;
}
#r:hover{
	background: url(photo/r.gif);
	background-size: 311px;
	width: 300px;
	height: 281px;
	position: absolute;
	left: calc(29vw - 100px);
	top: calc(43vh - 100px);
}

.s{
	background: url(photo/s.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(28vw - 100px);
  top: calc(42vh - 100px);
	cursor: pointer;
}
#s:hover{
	background: url(photo/s.gif);
	background-size: 311px;
	width: 300px;
	height: 281px;
	position: absolute;
	left: calc(29vw - 100px);
	top: calc(43vh - 100px);
}

.t{
	background: url(photo/t.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(28vw - 100px);
  top: calc(42vh - 100px);
	cursor: pointer;
}
#t:hover{
	background: url(photo/t.gif);
	background-size: 311px;
	width: 300px;
	height: 281px;
	position: absolute;
	left: calc(29vw - 100px);
	top: calc(43vh - 100px);
}

.u{
	background: url(photo/u.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(28vw - 100px);
  top: calc(42vh - 100px);
	cursor: pointer;
}
#u:hover{
	background: url(photo/u.gif);
	background-size: 311px;
	width: 300px;
	height: 281px;
	position: absolute;
	left: calc(29vw - 100px);
	top: calc(43vh - 100px);
}

.v{
	background: url(photo/v.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(28vw - 100px);
  top: calc(42vh - 100px);
	cursor: pointer;
}
#v:hover{
	background: url(photo/v.gif);
	background-size: 311px;
	width: 300px;
	height: 281px;
	position: absolute;
	left: calc(29vw - 100px);
	top: calc(43vh - 100px);
}

.w{
	background: url(photo/w.png);
	background-size: 311px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(28vw - 100px);
  top: calc(42vh - 100px);
	cursor: pointer;
}
#w:hover{
	background: url(photo/w.gif);
	background-size: 311px;
	width: 300px;
	height: 281px;
	position: absolute;
	left: calc(29vw - 100px);
	top: calc(43vh - 100px);
}
