body{
  background: #1fb0d9;
}
.dog{
  width: 275px;
  height: 190px;
  left: calc(45vw - 100px);
  top: calc(47vh - 100px);
  position: absolute;
  background: url(photos/dog1.png);
  background-size: 307px;
}

#dog:hover {
  background: url(photos/dog2.png);
  background-size: 308px;
  height: 203px;
  width: 295px;
  left: calc(45vw - 100px);
  top: calc(44vh - 100px);
  cursor: pointer;
}

@media only screen and (max-width: 700px){
    .dog{
          left: calc(31vw - 100px);
    }
    #dog:hover{
      left: calc(33vw - 100px);
    }
  }
