body{
  background: #1fb0d9;
}

.keith{
  background-image: url(photos/keithharing.png);
  background-size: 150px;
  width: 160px;
  height: 80px;
  position: absolute;
}

.maincup{
  background-image: url(photocolor/mainbod.png);
  background-size: 1200px;
  width: 1100px;
  height: 790px;
  left: 230px;
  top: 80px;
  position: absolute;
}
.maincup * {
  background-size: 1200px;
  width: 1100px;
  height: 790px;
  position: absolute;
  top:0;
  left:0;
}

.maincup #back {
  background-image: url(photocolor/mainbod.png);
width: 467px;
height: 535px;
position: absolute;
top: 46px;
left: 364px;
background-position-y: -47px;
background-position-x: -366px;
z-index: 9;
cursor: grab;
}

.maincup #bot {
  background-image: url(photocolor/mainbod.png);
    width: 468px;
    height: 134px;
    position: absolute;
    top: 575px;
    left: 371px;
    background-position-y: -575px;
    background-position-x: -370px;
    z-index: 10;
    cursor: grab;
}


.maincup #body {
  background-image: url(photocolor/mainbod.png);
    width: 382px;
    height: 577px;
    position: absolute;
    top: 112px;
    left: 394px;
    background-position-y: -113px;
    background-position-x: -394px;
    z-index: 10;
    cursor: grab;

}




#red {
  background: #fd0607;
  height: 100px;
  width: 100px;
  top: 180px;
  left: 200px;
  border-radius: 15px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

#yellow {
  background: #ffff07;
  height: 100px;
  width: 100px;
  top: 345px;
  left: 200px;
  border-radius: 15px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

#blue {
  background: #105175;
  height: 100px;
  width: 100px;
  top: 511px;
  left: 200px;
  border-radius: 15px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

#black1{
  background: black;
  height: 140px;
  width: 140px;
  top: 160px;
  left: 180px;
  border-radius: 34px;
  position: absolute;
}

#black2{
  background: black;
  height: 140px;
  width: 140px;
  top: 325px;
  left: 180px;
  border-radius: 34px;
  position: absolute;
}
#black3{
  background: black;
  height: 140px;
  width: 140px;
  top: 490px;
  left: 180px;
  border-radius: 34px;
  position: absolute;
}

.colors{
  top: 29px;
  left: 175px;
  position: absolute;
}

.print {
  background-image: url(photos/print1.png);
  background-size: 174px;
  height: 140px;
  width: 140px;
  top: 750px;
  left: 30px;
  position: absolute;
}


#print:hover{
  background-image: url(photos/print2.png);
  background-size: 174px;
  height: 140px;
  width: 179px;
  top: 750px;
  left: 30px;
  position: absolute;
}

h1{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 23pt;
}
h2{
  font-family: 'Roboto Condensed', sans-serif;
    font-size: 15pt;
    top: 40px;
    position: absolute;
}

.about{
  top: 631px;
  right: 175px;
  width: 400px;
  font-size: 12px;
  position: absolute;
}

.back{
  background-image: url(photos/backarrow.png);
    background-size: 91px;
    height: 53px;
    width: 101px;
    top: 20px;
    right: 30px;
    position: absolute;
}

.info{
  background-image: url(photos/babyinfo2.png);
background-size: 101px;
height: 66px;
width: 101px;
top: 810px;
right: 33px;
position: absolute;
}
#info:hover{
  background-image: url(photos/babyinfo.png);
  background-size: 101px;
  height: 83px;
  width: 101px;
  top: 810px;
  right: 33px;
  position: absolute;
}

@media only screen and (max-width: 500px){
    .maincup{
      background-size: 830px;
      width: 600px;
      height: 490px;
      left: -193px;
      top: 106px;
    }
    .maincup * {
      background-size: 830px;
      width: 600px;
      height: 490px;
      position: absolute;
      top:0;
      left:0;
  }
  .maincup #back {
    width: 311px;
    height: 357px;
    position: absolute;
    top: 48px;
    left: 259px;
    background-position-y: -47px;
    background-position-x: -260px;
  }
  .maincup #bot {
    width: 312px;
    height: 86px;
    position: absolute;
    top: 401px;
    left: 259px;
    background-position-y: -931px;
    background-position-x: -261px
}
.maincup #body {
    width: 252px;
    height: 423px;
    position: absolute;
    top: 54px;
    left: 276px;
    background-position-y: -54px;
    background-position-x: -276px;
}
#red {
  background: #fd0607;
    height: 85px;
    width: 85px;
    top: 580px;
    left: -57px;
    border-radius: 15px;
}

#yellow {
  background: #ffff07;
    height: 85px;
    width: 85px;
    top: 580px;
    left: 87px;
    border-radius: 15px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

#blue {
  background: #105175;
height: 85px;
width: 85px;
top: 579px;
    left: 232px;
border-radius: 15px;
position: absolute;
z-index: 2;
cursor: pointer;
}

#black1{
  background: black;
  height: 125px;
  width: 125px;
top: 561px;
left: -77px;
border-radius: 34px;
position: absolute;
}

#black2{
  background: black;
  height: 125px;
width: 125px;
    top: 561px;
    left: 67px;
    border-radius: 34px;
    position: absolute;
}
#black3{
  background: black;
  height: 125px;
width: 125px;
  top: 561px;
left: 211px;
  border-radius: 34px;
  position: absolute;
}
.colors {
  top: 67px;
  left: 90px;
  position: absolute;
}
.about{
  top: 66px;
right: -22px;
width: 400px;
font-size: 10px;
position: absolute;
}
h1{
  font-family: 'Roboto Condensed', sans-serif;
      font-size: 17pt;
}
h2{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12pt;
  top: 29px;
    position: absolute;
}
}
@media only print {
  @media only print {
      body {
        background: transparent;
      }
      .colors {
        display: none;
      }
      .print{
        display: none;
      }
      #print:hover{
        display: none;
      }
      .info{
        display:none;
      }
      .maincup{
        background-size: 1200px;
        width: 1100px;
        height: 790px;
        left: -130px;
        top: 80px;
        position: absolute;
      }
      .maincup * {
        background-size: 1200px;
        width: 1100px;
        height: 790px;
        position: absolute;
        top:0;
        left:0;
      }
      .back{
        display:none;
      }
      .about{
        display: none;
      }
    }
