body{
  background: #1fb0d9;
}

.keith{
  background-image: url(photos/keithharing.png);
  background-size: 150px;
  width: 160px;
  height: 80px;
  position: absolute;
}

.portrait{
  background-image: url(photos/portrait.jpg);
  background-size: 750px;
  width: 748px;
  height: 617px;
  top: 159px;
  left: 227px;
  position: absolute;
  animation: portrait .75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes portrait {
  0% {
      transform: scale(0);
    opacity: 1;
  }
  100% {
      transform: scale(1);
    opacity: 1;
  }
}
@keyframes dog {
  0% {
      transform: scale(0);
    opacity: 1;
  }
  100% {
      transform: scale(1);
    opacity: 1;
  }
}

h1{
  font-family: 'Roboto Condensed', sans-serif;
}

.about{
  top: 190px;
  right: 250px;
  width: 400px;
  font-size: 12px;
  position: absolute;
  animation: about 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes about{
  0% {
      transform: scale(0);
    opacity: 1;
  }
  100% {
      transform: scale(1);
    opacity: 1;
  }
}
@keyframes dog {
  0% {
      transform: scale(0);
    opacity: 1;
  }
  100% {
      transform: scale(1);
    opacity: 1;
  }
}
