body{
  background: #1fb0d9;
}

.keith{
  background-image: url(photos/keithharing.png);
  background-size: 150px;
  width: 160px;
  height: 80px;
  position: absolute;
}
.cupman{
  background-image: url(photos/cupman.jpg);
    background-size: 600px;
    width: 598px;
    height: 772px;
    left: 380px;
    top: 79px;
    position: absolute;
    animation: cupman .75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes cupman {
0% {
    transform: scale(0);
  opacity: 1;
}
100% {
    transform: scale(1);
  opacity: 1;
}
}
@keyframes cupman {
0% {
    transform: scale(0);
  opacity: 1;
}
100% {
    transform: scale(1);
  opacity: 1;
}
}
}
}

h1{
  font-family: 'Roboto Condensed', sans-serif;
}

.about{
  top: 300px;
  right: 250px;
  width: 400px;
  font-size: 12px;
  position: absolute;
  animation: about 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes about {
  0% {
      transform: scale(0);
    opacity: 1;
  }
  100% {
      transform: scale(1);
    opacity: 1;
  }
}
@keyframes about {
  0% {
      transform: scale(0);
    opacity: 1;
  }
  100% {
      transform: scale(1);
    opacity: 1;
  }
}
}
}
