body{
  background: #1fb0d9;
}

.keith{
  background-image: url(photos/keithharing.png);
  background-size: 150px;
  width: 160px;
  height: 80px;
  position: absolute;
}

.dog{
  background-image: url(photos/dogs.png);
    background-size: 700px;
    width: 650px;
    height: 450px;
    top: 200px;
    left: 500px;
    position: absolute;
}

.human{
  background-image: url(photos/block.png);
background-size: 400px;
width: 450px;
height: 250px;
top: 300px;
left: 100px;
position: absolute;
}

.heart{
  background-image: url(photos/heart.png);
  background-size: 350px;
  width: 350px;
  height: 220px;
  top: 312px;
  left: 1200px;
  position: absolute;
}
